<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="uft-8">
  <title>Bookmarker</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>BOOKMARKER</h1>
<nav>
  <ul>
    <li><a href="/bookmarker">View All Bookmarks</a></li>
    <li><a href="/bookmarker/new">Add a New Bookmark</a></li>
    <li><a href="/bookmarker/genre">Search Bookmarks by Genre</a></li>
    <!-- I dont think the above href is restful but I wasnt sure how to do it-->
  </ul>
</nav>  

<%= yield %>

</body>
</html>
