<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="uft-8">
  <title>Bookmarker</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>


<%= yield %>

</body>
</html>
