<h3>Add a Bookmark</h3>
<form action="/bookmarker" method="post">
  <fieldset>
    <legend>Create New Bookmark</legend>
    <label>Enter Name:</label>
    <input type="text" name="name"><br>

    <label>Enter url:</label>
    <input type="text" name="url"><br>


<!-- add this in as a drop down selection?? -->
    <label>Enter Genre:</label> 
    <input type="text" name="genre"><br>

    <input type="submit" value="Add Bookmark">
  </fieldset>
</form>
